header{
    font-weight: bold;
    background-color: #A452E2;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #FFFFFF;
}
form{
    display: flex;
    justify-content: center;
}