header{
    font-weight: bold;
    background-color: #A452E2;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #FFFFFF;
}
form{
    display: flex;
    justify-content: center;
}
.app{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(#082246, #01070e);
    color: #cdcdcd;
}